
streamlit
google-generativeai
python-dotenv
pathlib
langchain
ctransformers==0.2.27
tiktoken
pdfplumber
chromadb
kaleido
python-multipart
cohere
langchain_experimental
openpyxl
tabulate
pdf2image
PyPDF2
matplotlib
transformers
pymongo
faiss-cpu
langchain_google_genai
bs4
requests 
lxml 
argparse 
unstructured
pillow-heif
opencv-python
utils
python-pptx
azure-ai-documentintelligence
Flask
beautifulsoup4
google